<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286610354914-ntdmpsfe0oio1qavvfg4fq6sgcsa5vff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286610354914-ntdmpsfe0oio1qavvfg4fq6sgcsa5vff</string>
	<key>API_KEY</key>
	<string>AIzaSyBaA-hYcgN6Fsb0Xcb7pSWMUopiTJkhka8</string>
	<key>GCM_SENDER_ID</key>
	<string>286610354914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kemalazamat.Auth-without-storyboard</string>
	<key>PROJECT_ID</key>
	<string>langlearn-d6986</string>
	<key>STORAGE_BUCKET</key>
	<string>langlearn-d6986.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286610354914:ios:f1848d976531272ea064bb</string>
</dict>
</plist>